<!doctype html>
<html>
<head>
    <title>Flickstarter</title>
    <style>
        body{ padding-top:80px; }
    </style>
       <script src="https://checkout.stripe.com/checkout.js"></script>
</head>
<body>
<div class="container">
