<% include head.ejs%>

<% include cdn.css.js.ejs%>

<div class="ui middle aligned center aligned grid" style="margin-top:5em">
  <div class="column" style="max-width: 450px">
    <h2 class="ui image header">
      <div class="content">
        Sign Up
      </div>
    </h2>
    <% if (message.length) { %>

    <div class="ui message">
    <%= message %>
    </div>
    <% } %>

    <form action="/signup" method="post" class="ui large form">
      <div class="ui stacked secondary  segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="E-mail address">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <button class="ui fluid large teal submit button">Register</button>
      </div>

      <div class="ui error message"></div>


    </form>

    <div class="ui message">
      Already have an account? <a href="/login">Login</a>
    </div>
    <% include social.login.ejs%>
  </div>
</div>


<% include foot.ejs%>
