<div class="social-links">
      <a  href="/auth/facebook"><img src="/assets/fb-sign-in-button.png" /></a>
</div>
<style>
 .social-links a{margin-right:15px;margin-top:-15px;}
 .social-links a img{width:250px; padding-top: 20px;}
</style>
