<div class="ui message social-links">
      <a  href="/auth/facebook"><img src="/assets/fb-logo.png" /></a>
      <a  href="/auth/google"><img  src="/assets/google-logo.png" /></a>
      <a  href="/auth/twitter"><img class="twitter" src="/assets/twitter-logo.png" /></a>
</div>
<style>
 .social-links a{margin-right:15px;margin-top:-15px;}
 .social-links a img{width:29px}
 .social-links a img.twitter{ transform: scale(1.5);}
</style>
